{{ define "content" }}

<div class="outer">
  <div class="inner-medium">

    <article class="docs">
      <aside class="docs-menu">
        <ul>
          {{ range $.Site.Menus.main }}
          {{ if .HasChildren }}
          <ul>
            {{ range .Children }}
            <li><a href="{{.URL}}">{{ .Name }} </a></li>
            {{ if .HasChildren }}
            <ul class="nested">
              {{ range .Children }}
              <li>
                <a href="{{.URL}}">{{ .Name }}</a></li>
              {{ if .HasChildren }}
              <ul class="nested">
                {{ range .Children }}
                <li><a href="{{.URL}}">{{ .Name }} </a></li>
                {{ if .HasChildren }}
                <ul class="nested">
                  {{ range .Children }}
                  <li><a href="{{.URL}}">{{ .Name }} </a></li>
                  {{ end }}
                </ul>
                {{ end }}
                {{ end }}
              </ul>
              {{ end }}
              {{ end }}
            </ul>
            {{ end }}
            {{ end }}
          </ul>
          {{ end }}
          {{ end }}
        </ul>
      </aside>
      <div class="docs-content">
        <header class="docs-header">
          <h1 class="docs-title">{{ .Params.title }}</h1>
        </header>
        {{ .Content }}
      </div>
    </article>

  </div><!-- .inner-medium -->
</div><!-- .outer-->


{{ end }}