<nav class="navbar">
  <div class="navbar-div" id="navbar">
    <!--a class="navbar-brand" href="{{ .Site.BaseURL }}">
        <img src="{{ .Site.Params.logo | absURL }}" alt="logo">
    </a-->
        {{ range .Site.Menus.main }}
          <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">

        </a>
  </div>
</nav>

<script>
    function myFunction() {
      var x = document.getElementById("navbar");
      if (x.className === "navbar-div") {
        x.className += " responsive";
      } else {
        x.className = "navbar-div";
      }
    }
    </script>