// Variables
$body-color: #1a1b1f;
$primary-color: #00FFD0;
$secondary-color: #00FFD0;
$border-color:#cccccc;
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Lora', serif;
$text-color: #bebebe;
$title-color: #757575;
$gray: #808080;
$light-gray: #fafafa;
$dark: #1a1b1f;
$light: #1a1b1f;
$black: #fff;
